.map-container {
    position: relative;
    /* width: 80%; */
    /* height: 100%; */
    margin: 0 auto;
  }
  
.around-map {
  position: relative;
  width: 100%;
  height: 35em;
  /* overflow: hidden; */
}

.map-category-container {
  display: flex;
  width: 97%;
  height: auto;
  position: absolute;
  top: 0;
  left: 1%;
  /* border-radius: 5px;
  border: 1px solid #909090; */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
  /* background: white; */
  /* overflow: hidden; */
  z-index: 1;
  /* padding: 0 1em; */
  font-family: 'NanumSquareRound';
  justify-content: space-between;
}
.map-category-list {
  background: white;
  border-radius: 5px;
  border: 1px solid #909090;
  padding: 0;
  font-size: 0.7em;
}

.map-category-item {
  display: inline-block;
  list-style: none;
  /* width: 50px; */
  width: 3.5em;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #acacac;
  padding: 0.5em 0.2em;
}

.map-category-item.on {
  background-color: #eee;
}

.map-category-item:hover {
  background-color: #EDEDED;
  border-left: 1px solid #acacac;
  margin-left: -1px;
}

.map-category-item:last-child {
  border-right: 0;
}

.map-category_bg {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
  /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png') no-repeat; */
}

.map-search-again {
  margin-top: 30%;
  background-color: white;
  border: 1px solid #5C5C5C;
  cursor: pointer;
  width: 0.9em;
  padding: 0.4em 0.5em;
  border-radius: 5px;
}

.placeinfo_wrap {
  position: absolute;
  bottom: 2em;
  left: -9em;
  /* width: 18em; */
}

.placeinfo-container{
  /* position: relative; */
  /* width: 70%; */
  border-radius: 1em;
  /* border: 1px solid #ccc; */
  border-bottom: 2px solid #ddd;
  background: #fff;
  z-index: 2;
}

.placeinfo-header {
  display: flex;
  justify-content: space-between;
  background-color: #1F75FE;
  color: white;
  padding: 0.4em 0.5em;
}
.placeinfo-title {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

.add-box{
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1em;
  bottom: 3.7em;
  z-index: 1;
  cursor: pointer;
  justify-content: center;
}

.add-btn {
  width: 6%;
}

/* .add {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #292929;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 0.8em;
} */

.placeinfo-main {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0.5em;
}

.placeinfo-address {
  font-size: 0.9em;
}
.placeinfo-jibun {
  font-size: 0.8em;
  color: #8f8f8f
}
.placeinfo-detail {
  display: flex;
  justify-content: space-between;
  padding-right: 0.3em;
}
.placeinfo-tel, .placeinfo-link{
  font-size: 0.8em;
  color: #0f7833;
}
.placeinfo-link{
  text-decoration: none;
}
.placeinfo-address, .placeinfo-jibun, .placeinfo-tel {
  padding-bottom: 0.3em;
}

.after {
  content: '';
  position: relative;
  margin-left: -12px;
  left: 50%;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}

/* .marker-over {
  display: flex;
  justify-content: center;
  align-items: center;    
  z-index: 3;
  text-align: center;
} */

.over-info-wrap {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #292929;
  border-radius: 0.5em;
  margin-top: 1.2em;
}

.over-info-text {
  display: flex;
  justify-content: center;
  color: #292929;
  padding: 0.5em;
  white-space: nowrap;
  font-size: 0.8em;
}
