.map-container {
    position: relative;
    /* width: 80%; */
    /* height: 100%; */
    margin: 0 auto;
  }
  
.around-map {
  position: relative;
  width: 100%;
  height: 35em;
  /* overflow: hidden; */
}

.map-category-container {
  display: flex;
  width: 97%;
  height: auto;
  position: absolute;
  top: 0;
  left: 1%;
  /* border-radius: 5px;
  border: 1px solid #909090; */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
  /* background: white; */
  /* overflow: hidden; */
  z-index: 1;
  /* padding: 0 1em; */
  font-family: 'NanumSquareRound';
  justify-content: space-between;
}
.map-category-list {
  background: white;
  border-radius: 5px;
  border: 1px solid #909090;
  padding: 0;
  font-size: 0.7em;
}

.map-category-item {
  display: inline-block;
  list-style: none;
  /* width: 50px; */
  width: 3.5em;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #acacac;
  padding: 0.5em 0.2em;
}

.map-category-item.on {
  background-color: #eee;
}

.map-category-item:hover {
  background-color: #EDEDED;
  border-left: 1px solid #acacac;
  margin-left: -1px;
}

.map-category-item:last-child {
  border-right: 0;
}

.map-category_bg {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
  /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png') no-repeat; */
}

.map-search-again {
  margin-top: 30%;
  background-color: white;
  border: 1px solid #5C5C5C;
  cursor: pointer;
  width: 0.9em;
  padding: 0.4em 0.5em;
  border-radius: 5px;
}

.placeinfo_wrap {
  position: absolute;
  bottom: 2em;
  left: -9em;
  width: 18em;
}

.placeinfo {
  position: relative;
  width: 70%;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
  font-family: 'NanumSquareRound';
  z-index: 2;
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
  color: #fff;
  text-decoration: none;
}

.placeinfo a,
.placeinfo span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.placeinfo .title {
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 6px 6px 0 0;
  margin: -1px -1px 0 -1px;
  padding: 10px;
  color: #fff;
  background: #1F75FE;
  /* background: #d95050 url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png') no-repeat right 14px center; */
}

.placeinfo .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  font-size: 1.2em;
}
.overlay-address {
  font-size: 0.8em;
}

.placeinfo .tel {
  color: #0f7833;
  font-size: 0.8em;
}

.placeinfo .jibun {
  color: #999;
  font-size: 11px;
  margin-top: 0;
}

.after {
  content: '';
  position: relative;
  margin-left: -12px;
  left: 50%;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
