.blues-container {
    margin: 0 auto;
}

.blues-map {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
}

.blue-overlay {
    position: relative;
    text-align: center;
    font-family: 'NanumSquareRound';
    border: solid 1px #1F75FE;
    border-radius: 1em;
    padding: 0.5em;
    font-weight: 400;
    font-size: 0.8em;
    color: #292929;
    background-color: white;
}
  
.triangle {
    width: 0;
    height: 0;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.35em solid transparent;
    margin: 0 auto;
}

/* 오버레이 스타일 */
.blue-overlay {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.blue-name {
    font-weight: bold;
}

.beach-list-container {
    width: 100%;
    /* margin: 0 auto; */
    font-family: 'NanumSquareRound';
}

/* 드롭다운 컨테이너 */
.dropdown-container {
    position: relative;
    margin-bottom: 20px;
}

/* 드롭다운 레이블 스타일 */
.dropdown-label {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 화살표 아이콘 스타일 */
.arrow-icon {
    margin-right: 8px;
    font-size: 16px;
}

/* 드롭다운 스타일 */
.city-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* 그리드 형태의 리스트 */
.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2개의 열을 가진 그리드 */
    /* gap: 10px; */
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.grid-list li {
    /* background-color: #f9f9f9; */
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center;
    transition: background-color 0.3s;
}

.grid-list li:hover {
    /* background-color: #e6f7ff; */
    cursor: pointer;
    font-weight: 700;
}