.header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center; 
  padding: 0.8em;
  margin: 0 auto;
  flex-wrap: nowrap;
}
.header {
  cursor: pointer;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 8%;
  width: 4em;
}

.header-text {
  font-family: 'NanumSquareRound';
  white-space: nowrap;
  color: #1F75FE;
  font-weight: 800;
  font-size: 2.3em;
}

@media screen and (max-width: 800px) {
  .header-text {
    font-size: 1.8em;
  }
  .header-logo img {
    width: 2em;
  }
}