.item-card {
    width: 90%;
    border-bottom: solid 1px #DBDBDB;
    margin-top: 5%;
  }

  .item-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-image {
    width: 48.5%;
    height: 10em;
    object-fit: cover;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .item-info {
    padding: 1em 0 0 0;
    font-family: 'NanumSquareRound';
  }

  .item-header {
    display: flex;
    justify-content: space-between;
  }

  .item-header div,
  .item-header img {
    cursor: pointer;
  }

  .item-title:hover{
    color: #8F8F8F
  }
  
  .item-title {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .hashtags {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 0.8em;
    overflow-x: auto; /* 수평 스크롤 활성화 */
    white-space: nowrap; /* 줄바꿈 없이 한 줄로 표시 */
    padding-bottom: 1em; /* 스크롤바와 해시태그 사이에 여백 추가 */
    margin-top: 0.7em;
  }
  
  .hashtag {
    background-color: #f1f1f1;
    border-radius: 1em;
    padding: 0.5em 0.8em;
    font-size: 0.8em;  
  }
  .hashtag.active {
    background-color: #007bff; /* active 상태의 배경 색 */
    color: #ffffff; /* active 상태의 텍스트 색 */
  }

  .item-address {
    display: flex;
    align-items: center;
    margin: 1.5% 0 0 0;
  }

  .item-address img {
    width: 1.3em;
  }
  .item-address div {
    font-size: 0.8em;
    /* color: #8F8F8F; */
    color: #007bff;
  }
  
  .item-select {
    display: flex;
    color: #1F75FE;
    justify-content: end;
    font-weight: 700;
    cursor: pointer;
    padding: 0 0.2em 1em;
    z-index: 1;
  }

  .item-select:hover{
    font-weight: 800;
    color: #1F75FE;
  }