.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
  
  .pagination button {
    padding: 0 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .pagination button:hover {
    font-weight: 700;
    background-color: transparent;
  }
  
  .page-info {
    font-weight: 400;
    /* font-weight: bold; */
  }
  