@import url('https://webfontworld.github.io/NanumSquareRound/NanumSquareRound.css');

.page-container {
  /* width: 50%; */
  max-width: 600px;
  margin: 1em auto;
  /* min-height: 100vh; */
   font-family: 'NanumSquareRound';
}

.detail-page-container {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  margin-top: auto; /* Footer를 페이지 하단에 고정 */
}
