.square-card-container {
    width: 50%;
    margin: 0 0.5em;
    position: relative;
    cursor: pointer;
}

/* .square-card-like {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
}

.like-img {
    width: 1.1em;
} */

.square-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0.8em;
    color: #F5F5F5;
}

.square-card-name {
    font-size: 1.1em;
    font-weight: 700;
}

.square-card-address, .square-card-hashtag {
    font-weight: 300;
}
.square-card-address {
    font-size: 0.7em;
    padding: 0.8em 0;
}

.square-card-hashtag {
    font-size: 0.8em;
    padding: 0.6em 0;
}